.global-settings__tabs {
  position: sticky;
  top: 1.5rem;
  z-index: 2;
}

.financial-catalog-card .list-group-item {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 991.98px) {
  .global-settings__tabs {
    position: static;
  }
}
