.pos-menu-row--disabled {
  background-color: #fff2f2;
}

.datatable .table tbody tr.pos-menu-row--disabled:hover {
  background-color: #ffe1e1;
}

.pos-menu-action {
  color: #4a5568;
}

.pos-menu-action:hover {
  color: #1f2937;
}
